{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>MQTT Broker Connection</h1>
    <div class="connection-form">
        <div class="form-group">
            <label>Broker Address:</label>
            <input type="text" id="broker" value="broker.hivemq.com">
        </div>
        <div class="form-group">
            <label>Port:</label>
            <input type="text" id="port" value="1883">
        </div>
        <div class="form-group">
            <label>Client ID:</label>
            <input type="text" id="client-id" value="MQTT_Client_123">
        </div>
        <button onclick="connectBroker()">Connect Broker</button>
    </div>
</div>
{% endblock %}